
.grid-container{
    display: grid;
    margin-top: 0px;
     grid-template-areas:
        "header header  divider  header  header"
        "left   left    divider  right   right"
        "left   left    divider  right   right" 
        "left   left    divider  right   right"
        "left   left    divider  right   right" ;

    overflow: auto;
    min-height: 100%;

   
}
@media only screen and (min-width: 600px){
    .grid-container{
        margin-top: 0px;
        overflow: auto;
        min-height: 100%;
        grid-template-areas:
        "header header   header  header  header"
        "left   left    divider  right   right"
        "left   left    divider  right   right" 
        "left   left    divider  right   right"
        "left   left    divider  right   right" ;

      }
    }
h1{
   display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1F71;
}